<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Experiences</title>
    {% include 'header.html' %}
</head>
<body style="position:relative" data-spy="scroll" data-target="#ScrollNavbar" data-offset="1">
{% include 'navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-3">
            <nav id="ScrollNavbar" class="navbar navbar-light">
                <ul class="nav nav-pills flex-column" style="position:fixed ; top:70px">
                    <br>
                    <li class="nav-item">
                        <a class="nav-link active" href="/download-resume">Download PDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec1">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec2">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec3">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Projects</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-8">
            <div id="sec1">
                <br>
                <h2>Education</h2>
                <hr>
                <div>
                    <div class="row">
                        <div class="col-sm">
                            <h4>The Pennsylvania State University</h4>
                        </div>
                        <div class="col-sm">
                            <p class="text-sm-end">State College, PA</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Current GPA: 3.7</p>
                        </div>
                        <div class="col-sm">
                            <p class="text-sm-end">June 2020 - May 2024</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <p><b>Degree: </b>Bachelors of Science in Computer Science</p>
                        </li>
                        <li>
                            <p><b>Minor: </b>Information Science and Technology</p>
                        </li>
                    </ul>
                </div>

            </div>
            <hr>
            <br>
            <div id="sec2">
                <h2>Experience</h2>
                <hr>
                <div>
                    <div class="row">
                        <div class="col-sm">
                            <h4>Peraton</h4>
                        </div>
                        <div class="col-sm">
                            <p class="text-sm-end">Blacksburg, VA</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="float-left">Software Engineer Intern</p>
                        </div>
                        <div class="col-sm">
                            <p class="text-sm-end">June 2023 - Present</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <p><b>Salesforce Development: </b>Created custom integrations and solutions using Apex
                                and MuleSoft to manage user data effectively.</p>
                        </li>
                        <li>
                            <p><b>Collaboration and Sprint Delivery: </b>Collaborated with a cross-functional team
                                to successfully complete all sprints, consistently delivering timely high-quality
                                solutions.
                            </p>
                        </li>
                        <li>
                            <p><b>Copado Certification: </b>Attained Copado certification, demonstrating proficiency
                                in Salesforce release management and DevOps practices.</p>
                        </li>
                    </ul>
                </div>
                <br>
                <div>
                    <div class="row">
                        <div class="col-sm">
                            <h4>DNV</h4>
                        </div>
                        <div class="col-sm">
                            <p class="text-sm-end">Mechanicsburg, PA</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Pipeline Integrity Software Development Intern</p>
                        </div>
                        <div class="col-sm">
                            <p class="text-sm-end">January 2023 - May 2023</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <p><b>Front-End Web Development: </b>Created and updated Flask applications that work
                                together with Synergi
                                Pipeline. Updated existing applications to match new capabilities, as well as
                                implemented standardized
                                templating across the board.</p>
                        </li>
                        <li>
                            <p><b>Code Base Maintenance: </b>Participated in design and code reviews, and performance
                                tests in a
                                continuous delivery environment.</p>
                        </li>
                        <li>
                            <p><b>Languages/Tools: </b>Python, JavaScript, Flask, Requests, HTML/CSS</p>
                        </li>
                    </ul>
                </div>
                <br>
                <div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Pipeline Hydraulics Software Development Intern</p>
                        </div>
                        <div class="col-sm">
                            <p class="text-sm-end">May 2022 - December 2022</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <p><b>Solver Tools Development: </b>Developed and prototyped software for DNV’s Synergi Gas
                                simulation
                                tool, used by companies around the world.</p>
                        </li>
                        <li>
                            <p><b>Algorithm Design: </b>Created and maintained high-level algorithms and programs using
                                C# and Python.</p>
                        </li>
                        <li>
                            <p><b>Automation/Scripting: </b>Automated processes and wrote scripting algorithms to
                                decrease man hours by
                                100x.</p>
                        </li>
                        <li>
                            <p><b>UI Design: </b>Designed and worked on front-end UI design for custom-developed Windows
                                applications.</p>
                        </li>
                        <li>
                            <p><b>GIS Web Mapping: </b>Created web mapping and increased data visualization (using QGIS)
                                of major gas
                                pipeline models.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <br>
            <div id="sec3">
                <h2>Skills</h2>
                <hr>
                <div>
                    <ul>
                        <li>
                            <p><b>Languages: </b>Python, Java, JavaScript, C#, C++, C, HTML/CSS, SQL, Verilog, Apex,
                                MuleSoft</p>
                        </li>
                        <li>
                            <p><b>Frameworks/Libraries: </b>React, Express.js, Springboot, Flask, Streamlit</p>
                        </li>
                        <li>
                            <p><b>Skills: </b>Strong object-oriented, algorithm, and data structure background</p>
                        </li>
                        <li>
                            <p><b>Experience with: </b>Linux Kernel, GNU/Linux, and Bash scripting</p>
                        </li>
                        <li>
                            <p><b>Soft Skills: </b>Strong leadership, communication, and collaboration skills</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'bottomcode.html' %}
</body>
</html>