<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'navbar.html' %}

<div class="container-fluid">
    <br>
    <br>
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 text-center text-lg-end">
            <h1 style="color: #B961EB">Hi, I'm </h1>
            <h1 style="color: #B961EB">Sahas Makhadhevan </h1>
        </div>
        <div class="col-lg-6 text-lg-start mt-4 mt-lg-0">
            <p class="lh-lg">As a senior at Penn State majoring in Computer Science, I'm driven by a
                deep
                passion for coding and exploring the world of technology. I'm set to graduate in May 2024 and
                eager to
                apply my skills and knowledge to solve real-world problems. </p>

            <p class="lh-lg">Beyond the realm of computers, I'm an avid enthusiast of cars and
                motorcycles.
                One of my favorite pastimes is just going for a drive, whether it's a short trip to the grocery
                store or
                a long road trip.
                I'm interested in motorsport and a dedicated follower of Formula 1 and endurance
                races.
                My fascination with cars extends to the virtual realm, where I've recently gotten into
                simracing. I'm
                actively practicing and honing my skills, continuously pushing the limits to achieve new levels
                of
                performance. </p>

            <p class="lh-lg">In my downtime, I seek out adventure and exploration. I cherish the
                opportunity
                to travel, immerse myself in nature through hiking, and expand my culinary horizons by trying
                new
                restaurants. I also enjoy playing badminton and soccer. </p>
        </div>
    </div>
</div>


{% include 'bottomcode.html' %}
</body>
</html>