<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 me-auto"><a class="nav-link" style="color: #B961EB"
                                                      href="/">Sahas Makhadhevan</a></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/experiences">Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Get in Touch
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="mailto:me@sahas.dev">Email Me</a></li>
                        <li><a class="dropdown-item" href="https://www.linkedin.com/in/sahasmakhadhevan/">LinkedIn</a>
                        </li>
                        <li><a class="dropdown-item" href="https://github.com/SahasMakhadhevan">GitHub</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>