<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div>
        <br>
        <h2>Portfolio</h2>
        <hr>

        <h4>sahas.dev</h4>
        <a href="https://github.com/SahasMakhadhevan/sahas.dev">Link to Repo</a>
        <ul>
            <li>Crafted a dynamic personal website using Python and the Flask framework, showcasing my technical
                expertise and creative expression.
            </li>
            <li>Self-hosted the website on a Raspberry Pi, leveraging its compact size and energy efficiency for a
                sustainable and cost-effective solution.
            </li>
            <li>Deployed NGINX as a reverse proxy, ensuring seamless traffic management and enhanced security for the
                website.
            </li>
            <li>Utilized Cloudflare DDNS to maintain a consistent domain name even with dynamic IP addresses, ensuring
                easy accessibility for visitors.
            </li>
        </ul>
        <br>

        <h4>Music Store</h4>
        <a href="https://github.com/SahasMakhadhevan/CS221-DSOTR-Music-Store">Link to Repo</a>
        <ul>
            <li>Spearheaded the design, prototyping, and development of a web-based Spring Boot application, employing
                CRUD (Create, Read, Update, Delete) operations to manage music store data effectively.
            </li>
            <li>Implemented robust user authentication mechanisms to safeguard music store elements, ensuring that only
                authorized users can update or delete content.
            </li>
            <li>Adopted the Model View Controller (MVC) architectural pattern to seamlessly separate data, presentation,
                and control layers, fostering a maintainable and scalable application.
            </li>
            <li>Demonstrated proficiency in Java, Spring Boot, Gradle, HTML, and CSS technologies to deliver a
                well-structured and visually appealing web application.
            </li>
        </ul>

        <br>

        <h4>KCF Hack</h4>
        <a href="https://github.com/SahasMakhadhevan/KCFHack">Link to Repo</a>
        <ul>
            <li>Collaborated with a team to design and develop the winning dashboard for a HackPSU challenge, showcasing
                exceptional problem-solving and teamwork skills.
            </li>
            <li>Developed a platform-agnostic web-based dashboard that seamlessly integrates with various platforms,
                providing users with real-time information updates for enhanced decision-making capabilities.
            </li>
            <li>Incorporated basic time-series forecasting using ARIMA modeling to anticipate data irregularities and
                proactively address potential issues, demonstrating a forward-thinking approach to data analysis.
            </li>
            <li>Leveraged a comprehensive tech stack comprising Python, Streamlit, Pandas, and ARIMA Modeling to deliver
                a robust and scalable solution.
            </li>
        </ul>

        <br>

        <h4>SpotiPy Genre Blend (In Progress)</h4>
        <a href="https://github.com/SahasMakhadhevan/SpotiPy-Genre-Blend">Link to Repo</a>
        <ul>
            <li>Developed a Python tool that utilizes Spotify's open API and the requests library to create personalized
                playlists based on specific genres.
            </li>
            <li>Employed genre-specific algorithms to curate playlists that capture the essence of each genre, ensuring
                an engaging and personalized listening experience for users.
            </li>
            <li>Streamlined the playlist creation process, allowing users to effortlessly generate genre-specific
                playlists tailored to their individual preferences.
            </li>
        </ul>

        <br>

        <h4>Mockchain</h4>
        <a href="https://github.com/SahasMakhadhevan/Mockchain">Link to Repo</a>
        <ul>
            <li>Developed a blockchain server-client node implementation in JavaScript, encompassing hashing functions,
                chain validation, and transaction management.
            </li>
            <li>Created an interactive blockchain demonstration accessible through web endpoints, enabling users to
                generate blocks, view the chain, add transactions, validate the chain, list transactions, and simulate
                brewing coffee.
            </li>
            <li>Provided an overview of the Mockchain structure, highlighting its focus on chain implementation and
                surrounding functionalities as a list.
            </li>
            <li>Implemented key functionalities such as block generation, chain validation, transaction generation,
                transaction listing, and a simulated coffee brewing function.
            </li>
        </ul>

        <br>

        <h4>Decentralized Voting System</h4>
        <a href="https://github.com/SahasMakhadhevan/297Final-dApp_Voting_System">Link to Repo</a>
        <ul>
            <li>Developed a decentralized voting application (dApp) built on the JavaScript framework, harnessing the
                secure and immutable nature of blockchain technology to revolutionize the voting process.
            </li>
            <li>Employed Solidity smart contracts to encode voting rules and securely maintain votes, ensuring
                transparency and tamper-proof results.
            </li>
            <li>Created a user-friendly interface using JavaScript and JSX, complemented by the Bootstrap CSS library,
                providing a streamlined voting experience for participants.
            </li>
            <li>Demonstrated the dApp's functionality on the Sepolia ETH testnet, paving the way for its integration
                into real-world voting scenarios.
            </li>
        </ul>

    </div>
</div>
{% include 'bottomcode.html' %}
</body>
</html>